<header>

    <div class="child navbar-toggle">
        <fa-icon [icon]="faBars" class="bar-icon"></fa-icon>
    </div>

    <div class="child logo-container">
        <a href="#" class="logo">{{title}}</a>
    </div>

    <div class="child nav-container">
        <ul>
            <li><a href="#" i18n="nav@@aboutMe">About me</a></li>
            <li><a href="#" i18n="nav@@experiences">Experiences</a></li>
            <li><a href="#" i18n="nav@@posts">Posts</a></li>
            <li><a href="#" i18n="nav@@projects">Projects</a></li>
            <li><a href="#" i18n="nav@@contact">Contact</a></li>
        </ul>
    </div>

    <div class="child language-container">
        <div class="frame">
            <ul>
                <li><a href="#" class="active">EN</a></li>
                <li><a href="#">PT</a></li>
            </ul>
        </div>
    </div>

</header>   
