<header>
    <div class="child logo-container">
        <a href="#" class="logo">gbastos</a>
    </div>
    <div class="child nav-container">
        <ul>
            <li><a href="#">About me</a></li>
            <li><a href="#">Experiences</a></li>
            <li><a href="#">Posts</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <div class="child language-container">
        <div class="frame">
            <ul>
                <li><a href="#">PT</a></li>
                <li><a href="#">EN</a></li>
            </ul>
        </div>
    </div>
</header>   
