header {
    display: flex;
    background: transparent;
    flex-flow: row wrap;
    max-width: 1400px;
    width: 100%;

    ul {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .child.logo-container {
        flex-grow: 2;
        text-align: left;

        a {
            width: 125px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 35px;
            font-weight: 700;
            color: #222f5c;
        }
    }

    .child.nav-container {
        flex-grow: 5;
        transition: 0.3s;

        ul {
            justify-content: flex-end;
            align-items: center;
            height: 52px;

            li {
                text-align: center;
                margin-right: 1em;

                a {
                    text-transform: capitalize;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 600;
                    color: #222f5c;
                    padding: 14px;
                    border-radius: 15px;
                    transition: 0.3s;

                    &:not(.active):hover {
                        background-color: #fff;
                        -webkit-box-shadow: 0 0 9px 0 rgba(112, 112, 112, 0.16); 
                        box-shadow: 0 0 9px 0 rgba(112, 112, 112, 0.16);
                    }
                }

                .active {
                    background-color: #222f5c;
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
    }

    .child.language-container {

        .frame {
            background-color: #fff;
            display: inline-block; 
            border-radius: 15px;
            -webkit-box-shadow: 0 0 9px 0 rgba(112, 112, 112, 0.16); 
            box-shadow: 0 0 9px 0 rgba(112, 112, 112, 0.16);

            ul {
                height: 52px;
                text-align: center;

                li {
                    flex-grow: 1;
                    display: inline-block;
                    height: 25px;
                    margin: 14px 0 0 0;
                    border-right: 2px solid #bfbfbf3b;

                    a {
                        display: inline-block;
                        margin: 0 15px;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 20px;
                        font-weight: 600;
                        color: #222f5c59;
                        transition: 0.3s;

                        &:hover {
                            color: #222f5c;
                        }
                    }

                    .active {
                        color: #222f5c;
                    }

                    &:last-of-type {
                        border-right: none;
                    }
                }

                &:before {
                    content: "\202f\202d";
                }
            }
        }
    }

    .child.navbar-toggle {
        flex-grow: 1;
        display: none;
        justify-content: center;
        cursor: pointer;
    }

    .child.share-container {
        // visible only for mobile browsers that accept share intent.
        display: none;
        margin-left: 10px;
        background-color: #fff;
        padding: 11px;
        border-radius: 15px;
        box-shadow: 0 0 9px 0 rgba(112, 112, 112, 0.16);
        cursor: pointer;

        .icon {
            font-size: 25px;
            color: #4e5562;

            &:hover {
                color: #222f5c;
            }
        }        
    }
}