header {
    display: flex;
    background: transparent;
    padding-top: 18px;
    flex-flow: row wrap;
    align-items: center;
}

header ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Logo styles */
header .child.logo-container {
    flex-grow: 2;
    text-align: center;
}

header .child.logo-container a {
    width: 125px;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    color: #222F5C;
}

/* Nav styles */
header .child.nav-container {
    flex-grow: 5;
}

header .child.nav-container ul {
    justify-content: flex-end;
    align-items: center;
    height: 52px;
}

header .child.nav-container ul li {
    text-align: center;
    margin-right: 1em;
}

header .child.nav-container ul li a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #222F5C;
    padding: 14px;
    border-radius: 15px;
    transition: 0.3s;
}

header .child.nav-container ul li a:hover {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(112,112,112,0.16); 
    box-shadow: 0px 0px 9px 0px rgba(112,112,112,0.16);
}

/* Language styles */
header .child.language-container {
    flex-grow: 1;
}

header .child.language-container .frame {
    background-color: #fff;
    display: inline-block; 
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(112,112,112,0.16); 
    box-shadow: 0px 0px 9px 0px rgba(112,112,112,0.16);
}

header .child.language-container .frame ul {
    height: 52px;
	text-align:center;
}

header .child.language-container .frame ul:before{
	content:"\202f\202d";
}

header .child.language-container .frame ul li {
    flex-grow: 1;
    display:inline-block;
    height: 25px;
    margin: 14px 0 0 0;
	border-right: 2px solid #bfbfbf3b;
}

header .child.language-container .frame ul li:last-of-type {
    border-right:none;
}

header .child.language-container .frame ul li a {
    display: inline-block;
	margin:0 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #222f5c59;
    transition: 0.3s;
}

header .child.language-container .frame ul li a:hover {
    color: #222F5C;
}