@media screen and (max-width: 500px) {

    .copyright {
        text-align: center;
    }
}

@media screen and (max-width: 370px) {

    .fork-github {
        text-align: center;
    }

    .copyright {
        flex-grow: 1;
    }
}