@mixin display-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.overlay {
    @include display-flex;

    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 0.6418942577030813) 0%, rgba(0, 0, 0, 0.773546918767507) 25%, rgba(0, 0, 0, 0.9079726890756303) 75%, rgba(0, 0, 0, 0.9924264705882353) 100%);
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4em;
    padding-bottom: 8em;
}

.landscape {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: -4em;
    position: relative;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    
    // This is supported natively by Chrome, Opera and Safari. Firefox and IE hasn't implemented it yet (bugzil.la).
    -webkit-transition: background-image 0.3s ease-in-out;
    -moz-transition: background-image 0.3s ease-in-out;
    -ms-transition: background-image 0.3s ease-in-out;
    -o-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;
}

.container {
    @include display-flex;

    flex-direction: column;
    max-width: 1400px;
    align-self: center;
    width: 85vw;
}

.top-container {
    display: flex;
    color: #fff;
    flex-wrap: wrap;

    .title {
        flex-grow: 4;

        & h1 {
            font-size: 42px;
            font-weight: 600;
        }
    }

    // Disabled for desktop resolutions or higher.
    .navigation-mobile {
        display: none;

        a {
            text-decoration: none;
            color: white;
        }
    }

    .navigation {
        @include display-flex;

        flex-grow: 1;
        font-size: 30px;
        font-weight: 500;
        align-items: center;
        text-align: center;

        a {
            text-decoration: none;
            color: white;
        }
    
        .previous {
            flex-grow: 2;
            cursor: pointer;
            text-align: left;
            -webkit-transition: text-shadow 0.3s linear;
            -moz-transition: text-shadow 0.3s linear;
            -ms-transition: text-shadow 0.3s linear;
            -o-transition: text-shadow 0.3s linear;
            transition: text-shadow 0.3s linear;
    
            &.disabled {
                cursor: no-drop;
                opacity: 0.6;
                pointer-events: none;
            }
     
            &:hover {
                text-shadow: 0 0 15px white;
            }
        }
        
        span {
            margin: 10px;
        }

        .devider {
            flex-grow: 1;
        }
    
        .next {
            flex-grow: 2;
            cursor: pointer;
            text-align: right;
            -webkit-transition: text-shadow 0.3s linear;
            -moz-transition: text-shadow 0.3s linear;
            -ms-transition: text-shadow 0.3s linear;
            -o-transition: text-shadow 0.3s linear;
            transition: text-shadow 0.3s linear;
            
            &.disabled {
                cursor: no-drop;
                opacity: 0.6;
                pointer-events: none;
            }
            &:hover {
                text-shadow: 0 0 15px white;
            }
        }
    }
}

.middle-container {
    @include display-flex;

    flex-direction: column;
    text-align: right;
    color: #fff;

    .events-content {
        position: relative;
        width: 100%;
        overflow: hidden;
        -webkit-transition: height 0.4s;
        -moz-transition: height 0.4s;
        transition: height 0.4s;
        min-height: 570px;

        .header-block {
            display: flex;
            flex-wrap: wrap;

            .logo-block {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: left;

                img {
                    height: 90px;
                }
            }

            .info-block {
                flex-grow: 1;
            }
        }

        .company-name {
            font-size: 35px;
            font-weight: 600;
            line-height: 50px;

            a {
                text-decoration: none;
                color: #fff;
            }
        }

        .role {
            font-size: 22px;
            font-weight: 300;
            line-height: 20px;
            margin-bottom: 1em;
            font-style: italic;
        }

        .period {
            font-size: 20px;
            font-weight: 400;

            span {
                margin: 5px;
                text-transform: capitalize;
            }
        }

        .location {
            font-size: 20px;
            font-weight: 400;
        }

        .description {
            margin-top: 1em;
            line-height: 1.5em;
            font-size: 20px;
            font-weight: normal;
            text-align: left;
        }

        ol {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                position: absolute;
                z-index: 1;
                width: 100%;
                margin: 0;
                padding: 0;
                left: 0;
                top: 0;
                opacity: 0;
                -webkit-transform: translateX(-100%);
                -moz-transform: translateX(-100%);
                -ms-transform: translateX(-100%);
                -o-transform: translateX(-100%);
                transform: translateX(-100%);
                -webkit-animation-duration: 0.4s;
                -moz-animation-duration: 0.4s;
                animation-duration: 0.4s;
                -webkit-animation-timing-function: ease-in-out;
                -moz-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
            }
            
            .selected {
                position: relative;
                z-index: 2;
                opacity: 1;
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
                transform: translateX(0);
            }
            
            // Defines the animations of the navigation ordered list.
            li.enter-right, li.leave-right {
                -webkit-animation-name: cd-enter-right;
                -moz-animation-name: cd-enter-right;
                animation-name: cd-enter-right;
            }

            li.enter-left, li.leave-left {
                -webkit-animation-name: cd-enter-left;
                -moz-animation-name: cd-enter-left;
                animation-name: cd-enter-left;
            }

            li.leave-right, li.leave-left {
                -webkit-animation-direction: reverse;
                -moz-animation-direction: reverse;
                animation-direction: reverse;
            }
        }

        .technologies {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 1em;

            span.hashtag {
                padding: 2px 5px 2px 5px;
                background-color: #414c73;
                border-radius: 5px;
                margin-right: 10px;
                margin-top: 10px;

                &:before {
                    content: '#';
                }
            }
        }
        
        .social-media {
            text-align: right;
            margin-top: 1em;

            .icon {
                font-size: 50px;
                color: #fff;
                margin: 0 20px 0 20px;
                transition: 0.3s;

                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    color: #8087a1;
                }
            }
        }
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}