<section id="experience" class="landscape">
    <div class="overlay">
        <div class="container">
            <div class="top-container">
                <div class="title">
                    <h1>Experiences</h1>
                </div>
                <div class="navigation">
                    <div class="previous">
                        <fa-icon [icon]="faChevronLeft" class="icon" title="previous"></fa-icon>  Previous
                    </div>
                    <div class="devider">|</div>
                    <div class="next">
                        Next <fa-icon [icon]="faChevronRight" class="icon" title="next"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="middle-container">
                <div class="company-name">Company Name</div>
                <div class="period">dec 2017 - ago 2018</div>
                <div class="location">Rio de Janeiro, Brazil</div>
                <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate sagittis velit, eget scelerisque arcu semper finibus. Morbi vel diam dignissim, malesuada orci vitae, elementum leo. Aenean at interdum leo. In molestie diam convallis volutpat molestie. Nulla in eros imperdiet, gravida nulla consectetur, accumsan est. Quisque imperdiet sapien a luctus ultricies. Donec sit amet nisi ut dui sodales varius vel ut nisi. Nunc imperdiet neque quam, id rutrum quam pulvinar a. Mauris quis lectus eu augue porta consequat. Proin leo felis, euismod ac ligula a, efficitur egestas nisi. Sed non rhoncus lacus. 
                </div>
                <div class="technologies">
                    <span class="hashtag">HTML</span>
                    <span class="hashtag">CSS</span>
                    <span class="hashtag">Javascript</span>
                    <span class="hashtag">Java</span>
                    <span class="hashtag">Angular</span>
                    <span class="hashtag">Spring Boot</span>
                    <span class="hashtag">PHP</span>
                    <span class="hashtag">MongoDB</span>
                </div>
                <div class="social-media">
                    <a href="#" target="blank">
                        <fa-icon [icon]="faLinkedin" class="icon" title="LinkedIn"></fa-icon>
                    </a>
                    <a href="#" target="blank">
                        <fa-icon [icon]="faGithub" class="icon" title="GitHub"></fa-icon>
                    </a>
                    <a href="#" target="blank">
                        <fa-icon [icon]="faFacebook" class="icon" title="Facebook"></fa-icon>
                    </a>
                </div>
            </div>
            <app-experience-timeline></app-experience-timeline>
        </div>
    </div>
</section>
