<section id="experience" class="landscape" [style.backgroundImage]="'url('+backgroundUrl+')'">
    <div class="overlay">
        <div class="container">
            <div class="top-container">
                <div class="title">
                    <h1>Experiences</h1>
                </div>
                <div class="navigation">
                    <div class="previous" (click)="onClickPrevious()" [ngClass]="{'disabled': currentPosition == 1}">
                        <fa-icon [icon]="['fas', 'chevron-left']" class="icon" title="previous"></fa-icon> Previous
                    </div>
                    <div class="devider">|</div>
                    <div class="next" (click)="onClickNext()" [ngClass]="{'disabled': currentPosition == experiencesOrdered?.length}">
                       Next <fa-icon [icon]="['fas', 'chevron-right']" class="icon" title="next"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="middle-container">
                <div class="events-content">
                    <ol #orderedList>
                        <li *ngFor="let exp of experiencesOrdered; let i = index" [ngClass]="{'selected': i == 0}" data-id="{{ exp.id }}">
                            <div class="company-name">{{ exp.companyName }}</div>
                            <div class="period">{{ exp.startAt }} - {{ exp.endAt }}</div>
                            <div class="location">{{ exp.location }}</div>
                            <div class="description">{{ exp.descriptions[1].description }}</div> <!-- TO-DO: Add internationalization -->
                            <div class="technologies">
                                <span class="hashtag" *ngFor="let technology of exp.technologies">{{ technology }}</span>
                            </div>
                            <div class="social-media">
                                <a *ngFor="let media of exp.medias" href="{{ media.httpAddress }}" target="blank">
                                    <fa-icon [icon]="['fab', media.icon]" class="icon" title="{{ media.title }}"></fa-icon>
                                </a>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>

            <!--TODO: use *bgIf here  to not render it on the dom in case of only ONE experience -->
            <app-experience-timeline [experiences]="experiences"></app-experience-timeline>
        </div>
    </div>
</section>
