.bottom-container {
  position: relative;
  bottom: -75px;
}

.mainCont {
  height: 80%;
  width: 100%;
  position: relative;
  color: white;
  font-size: 62px;
  text-align: center;
  transition: all 0.2s ease-out;
}

.lineCont {
  width: 100%;
  height: 20%;

  .line {
    height: 3px;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
  }
}

.milestone {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 15px;
  position: absolute;
  top: -6px;
  border: 3px solid white;
  cursor: pointer;
  transition: text-shadow 0.3s linear;

  .popupSpan {
    width: auto;
    height: auto;
    padding: 10px;
    white-space: nowrap;
    color: white;
    position: absolute;
    top: 20px;
    left: -35px;
    transition: all 0.1s ease-out;
    pointer-events: none; /* Only the Circles in the timeline are listened by events. */

    .month {
      margin-right: 5px;
      text-transform: capitalize;
    }
  }
  &.current {
    width: 15px;
    height: 15px;
    background: #414c73;
    top: -8px;
    font-size: 22px;
    text-shadow: 0 0 15px white;
  }
  &.active .popupSpan {
    top: -40px;
    display: block;
  }
  &.active.future {
    width: 1px;
    height: 1px;
    border-top: 7px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 13px solid white;
    background: transparent;
    border-radius: 0;
    border-right: 0;
    pointer-events: none;
  }
  &.active.current .popupSpan {
    left: -50px;
    top: -50px;
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -o-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);    
  }
   
  50% {
   -webkit-transform: scale(0.99);
   -moz-transform: scale(0.99);
   -o-transform: scale(0.99);
   -ms-transform: scale(0.99);
   transform: scale(0.99);
  }
   
  100% {
     -webkit-transform: scale(0.98);
     -moz-transform: scale(0.98);
     -o-transform: scale(0.98);
     -ms-transform: scale(0.98);
     transform: scale(0.98);
  }
}