@media screen and (max-width: 1024px) {

    .dialog-container img {
        width: 435px;
    }

    .dialog-container .console {
        top: 6em;
        width: 280px;
        left: -2em;
    }

    .dialog-container .console .hello {
        font-size: 40px;
    }

    .dialog-container .console .txt-rotate {
        font-size: 25px;
    }

}

@media screen and (max-width: 880px) {
    
    .dialog-container img {
        width: 325px;
        margin-left: -5em;
    }

    .dialog-container .console {
        top: 4em;
        width: 210px;
        left: -1em;
    }

    .dialog-container .console .hello {
        font-size: 30px;
    }

    .dialog-container .console .txt-rotate {
        font-size: 22px;
    }
}

@media screen and (max-width: 720px) {
        
    .dialog-container {
        margin-top: 2em;
        margin-left: 0;
    }

    .dialog-container img {
        width: 310px;
        margin-left: -4em;
    }

    .dialog-container .console {
        top: 4em;
        width: 210px;
    }

    .dialog-container .console .hello {
        font-size: 30px;
    }

    .dialog-container .console .txt-rotate {
        font-size: 22px;
    }
}

@media screen and (max-width: 600px) {
        
    .dialog-container {
        margin-top: 2em;
        margin-left: 0;
    }

    .dialog-container img {
        width: 220px;
        margin-left: -3em;
    }

    .dialog-container .console {
        top: 40px;
        width: 130px;
        left: 0;
    }

    .dialog-container .console .hello {
        font-size: 22px;
    }

    .dialog-container .console .txt-rotate {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
         
    .dialog-container {
        margin-top: 3em;
        margin-left: 0;
    }

    .dialog-container img {
        width: 160px;
        margin-left: -45px;
    }

    .dialog-container .console {
        top: 30px;
        width: 120px;
        left: -25px;
    }

    .dialog-container .console .hello {
        font-size: 14px;
    }

    .dialog-container .console .txt-rotate {
        font-size: 11px;
        line-height: 15px;
        display: inline-block;
        margin-top: 5px;
    }
}

@media screen and (max-width: 320px) {
       
    .dialog-container {
        margin-top: 3em;
        margin-left: 0;
    }

    .dialog-container img {
        width: 160px;
        margin-left: -45px;
    }

    .dialog-container .console {
        top: 30px;
        width: 120px;
        left: -25px;
    }

    .dialog-container .console .hello {
        font-size: 14px;
    }

    .dialog-container .console .txt-rotate {
        font-size: 12px;
        line-height: 15px;
        display: inline-block;
        margin-top: 5px;
    }
}