<div class="dialog-container">
    <img loading="lazy" src="./assets/template/welcome/bubble-frame.png" alt="Welcome Speech Bobble"/>
    <div class="console">
        <p class="hello" i18n="dialog@@hello">Hello!</p>
        <span
            class="txt-rotate"
            appTypingAnimation
            [phrasePeriod]="2000"
            [startDelay]="1500"
            [typeSpeed]="200"
            [data]='[
                {
                    "language": "en",
                    "phrases": [ "My name is Marco.", "Be welcome to my Live Resume.", "Down below, you will know me better... :)" ]
                },
                {
                    "language": "en-US",
                    "phrases": [ "My name is Marco.", "Be welcome to my Live Resume.", "Down below, you will know me better... :)" ]
                },
                {
                    "language": "it",
                    "phrases": [ "Il mio nome è Marco.", "Benvenuto(a) nel mio sito.", "qui sotto, mi conoscerai meglio... :)" ]
                }
            ]'></span>
    </div>
</div>
