<div class="dialog-container">
    <img src="../../../assets/template/welcome/bubble-frame.svg" alt="Welcome Speech Bobble"/>
    <div class="console">
        <p class="hello">Hello!</p>
        <span
            class="txt-rotate" 
            typingAnimation
            [phrasePeriod]="2000"
            [startDelay]="1500"
            [typeSpeed]="200"
            [phrases]='[ "My name is Guilherme.", "Be welcome to my Live Resume.", "Down below, you will know me better... :)" ]'></span>
    </div>
</div>