<div class="dialog-container">
    <img loading="lazy" src="./assets/template/welcome/bubble-frame.png" alt="Welcome Speech Bobble"/>
    <div class="console">
        <p class="hello" i18n="dialog@@hello">Hello!</p>
        <span
            class="txt-rotate"
            appTypingAnimation
            [phrasePeriod]="2000"
            [startDelay]="1500"
            [typeSpeed]="200"
            [data]='[
                {
                    "language": "pt",
                    "phrases": [ "Meu nome é Guilherme.", "Bem-vindo ao meu Currículo Interativo.", "Role para baixo e saiba mais sobre mim... :)" ]
                },
                {
                    "language": "en",
                    "phrases": [ "My name is Guilherme.", "Welcome to my Interactive Resume.", "Scroll down to learn more about me... :)" ]
                }
            ]'></span>
    </div>
</div>
