@font-face {
    font-family: 'Montserrat';
    src: url('https://assets.guilhermeborgesbastos.com/live-resume/fonts/black/Montserrat-Black.woff2') format('woff2'), url('https://assets.guilhermeborgesbastos.com/live-resume/fonts/black/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://assets.guilhermeborgesbastos.com/live-resume/fonts/thin/Montserrat-Thin.woff2') format('woff2'), url('https://assets.guilhermeborgesbastos.com/live-resume/fonts/thin/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://assets.guilhermeborgesbastos.com/live-resume/fonts/semi-bold/Montserrat-SemiBold.woff2') format('woff2'), url('https://assets.guilhermeborgesbastos.com/live-resume/fonts/semi-bold/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://assets.guilhermeborgesbastos.com/live-resume/fonts/bold/Montserrat-Bold.woff2') format('woff2'), url('https://assets.guilhermeborgesbastos.com/live-resume/fonts/bold/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://assets.guilhermeborgesbastos.com/live-resume/fonts/regular/Montserrat-Regular.woff2') format('woff2'), url('https://assets.guilhermeborgesbastos.com/live-resume/fonts/regular/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://assets.guilhermeborgesbastos.com/live-resume/fonts/italic/Montserrat-Italic.woff2') format('woff2'), url('https://assets.guilhermeborgesbastos.com/live-resume/fonts/italic/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}