
@media screen and (max-width: 1024px) {
    #welcome {
        height: 585px;
    }
    
    .layer_one .avatar-container .illustration {
        height: 585px;
    }
}

@media screen and (max-width: 880px) {
    #welcome {
        height: 465px;
    }
    
    .layer_one .avatar-container .illustration {
        height: 465px;
    }
}

@media screen and (max-width: 720px) {
    #welcome {
        height: 385px;
    }
    
    .layer_one .avatar-container .illustration {
        height: 385px;
    }
}

@media screen and (max-width: 600px) {
    #welcome {
        height: 290px;
    }
    
    .layer_one .avatar-container .illustration {
        height: 290px;
    } 
}


@media screen and (max-width: 500px) {
    #welcome {
        height: 250px;
    }
    
    .layer_one .avatar-container .illustration {
        height: 250px;
    } 
}

@media screen and (max-width: 320px) {
    #welcome {
        height: 220px;
    }
    
    .layer_one .avatar-container .illustration {
        height: 220px;
    } 
}