<section id="welcome">
    <div class="layer_one">
        <div class="avatar-container">
            <img class="illustration" src="../../../assets/template/welcome/gbastos-Illustration@2x.png" alt="Guilherme Borges Bastos"/>
            <div class="skills">
                <img class="background" src="../../../assets/template/welcome/illustration-back.png" alt="Background"/>
                <img class="skill-icon docker" src="../../../assets/template/welcome/icons/docker.svg" alt="Docker"/>
                <img class="skill-icon css" src="../../../assets/template/welcome/icons/css3.svg" alt="CSS3"/>
                <img class="skill-icon git" src="../../../assets/template/welcome/icons/git.svg" alt="Git"/>
                <img class="skill-icon html" src="../../../assets/template/welcome/icons/html5.svg" alt="HTML5"/>
                <img class="skill-icon sql" src="../../../assets/template/welcome/icons/sql.svg" alt="SQL"/>
                <img class="skill-icon php" src="../../../assets/template/welcome/icons/php.svg" alt="PHP"/>
                <img class="skill-icon java" src="../../../assets/template/welcome/icons/java.svg" alt="JAVA"/>
                <img class="skill-icon bitbucket" src="../../../assets/template/welcome/icons/bitbucket.svg" alt="BitBucket"/>
                <img class="skill-icon android" src="../../../assets/template/welcome/icons/android.svg" alt="Android"/>
            </div>
        </div>
        <div class="dialog-container">
            <img src="../../../assets/template/welcome/bubble-frame.svg" alt="Welcome Speech Bobble"/>
        </div>
    </div>
</section>
