#posts {
    top: -4em;
    position: relative;
    justify-content: center;
    background-color: #fbfafa;
}

.container {
    display: flex;
    flex-direction: column;
    width: 85vw;
    max-width: 1400px;

    h1 {
        font-size: 42px;
        font-weight: 600;
        color: #222f5c;
    }

    p.synopsis {
        font-size: 18px;
        font-weight: 500;
        color: #5e6788;
        text-align: left;
        margin-top: 0;
    }
    
    .top-container {
        display: flex;
        color: #fff;
        flex-wrap: wrap;

        .title {
            flex-grow: 4;
        }

        .navigation {
            display: flex;
            flex-grow: 1;
            font-size: 30px;
            font-weight: 500;
            align-items: center;
            text-align: center;
            color: #222f5c;

            a {
                text-decoration: none;
                color: #222f5c;
            }

            .previous {
                flex-grow: 2;
                cursor: pointer;
                text-align: left;
                transition: text-shadow 0.3s linear;  
                
                &.disabled {
                    cursor: no-drop;
                    opacity: 0.6;
                    pointer-events: none;
                }
            }

            .divider {
                flex-grow: 1;
            }

            .next {
                flex-grow: 2;
                cursor: pointer;
                text-align: right;
                
                &.disabled {
                    cursor: no-drop;
                    opacity: 0.6;
                    pointer-events: none;
                }
                &:hover {
                    text-shadow: 0 0 15px white;
                }
            }

            span {
                margin: 10px;
            }
        }
    }

    .middle-container {
        padding-bottom: 2em;  
        display: flex;

        app-posts-carousel {
            width: 100%;
        }
    }
}