app-header {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1001;
    width: 100%;
    padding: 1em 0;
    transition: 0.3s;
}

.sticky {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 9px 0 rgba(112, 112, 112, 0.43);
}

app-footer {
    position: relative;
    top: -3em;
}