
@media screen and (max-width: 1024px) {

    .skills {
        top: 140px;
    }

    .skills img.background {
        width: 390px;
    }

    .skills .skill-icon {
        width: 40px;
    }

    /* Specifications for each icon positioning */
    .skills .skill-icon.docker {
        top: 310px;
        left: -15px;
    }

    .skills .skill-icon.css {
        top: 250px;
        left: -50px;
    }

    .skills .skill-icon.git {
        top: 175px;
        left: -60px;
    }

    .skills .skill-icon.html {
        top: 100px;
        left: -45px;
    }

    .skills .skill-icon.sql {
        top: 30px;
        left: -10px;
    }

    .skills .skill-icon.php {
        top: -20px;
        left: 50px;
    }

    .skills .skill-icon.java {
        top: -20px;
        right: 40px;
    }

    .skills .skill-icon.bitbucket {
        bottom: 80px;
        right: -40px;
    }

    .skills .skill-icon.android {
        bottom: 30px;
        right: 0;
    }
}

@media screen and (max-width: 880px) {

    .skills img.background {
        width: 300px;
    }

    .skills .skill-icon {
        width: 35px;
    }

    /* Specifications for each icon positioning */
    .skills .skill-icon.docker {
        top: 220px;
        left: -25px;
    }

    .skills .skill-icon.css {
        top: 170px;
        left: -45px;
    }

    .skills .skill-icon.git {
        top: 115px;
        left: -50px;
    }

    .skills .skill-icon.html {
        top: 60px;
        left: -35px;
    }

    .skills .skill-icon.sql {
        top: 10px;
        left: 0px;
    }

    .skills .skill-icon.php {
        top: -30px;
        left: 40px;
    }

    .skills .skill-icon.java {
        top: -30px;
        right: 15px;
    }

    .skills .skill-icon.bitbucket {
        bottom: 85px;
        right: -40px;
    }

    .skills .skill-icon.android {
        bottom: 45px;
        right: -15px;
    }
}

@media screen and (max-width: 720px) {

    .skills img.background {
        width: 230px;
    }

    .skills .skill-icon {
        width: 27px;
    }

    /* Specifications for each icon positioning */
    .skills .skill-icon.docker {
        top: 165px;
        left: -20px;
    }

    .skills .skill-icon.css {
        top: 130px;
        left: -35px;
    }

    .skills .skill-icon.git {
        top: 90px;
        left: -35px;
    }

    .skills .skill-icon.html {
        top: 50px;
        left: -30px;
    }

    .skills .skill-icon.sql {
        top: 10px;
        left: -5px;
    }

    .skills .skill-icon.php {
        top: -20px;
        left: 20px;
    }

    .skills .skill-icon.java {
        top: 0;
        right: 0;
    }

    .skills .skill-icon.bitbucket {
        bottom: 85px;
        right: -35px;
    }

    .skills .skill-icon.android {
        bottom: 50px;
        right: -25px;
    }
}

@media screen and (max-width: 600px) {

    .skills {
        top: 100px;
    }

    .skills img.background {
        width: 180px;
    }

    .skills .skill-icon {
        width: 22px;
    }

    /* Specifications for each icon positioning */
    .skills .skill-icon.docker {
        top: 135px;
        left: -15px;
    }

    .skills .skill-icon.css {
        top: 105px;
        left: -25px;
    }

    .skills .skill-icon.git {
        top: 70px;
        left: -30px;
    }

    .skills .skill-icon.html {
        top: 35px;
        left: -20px;
    }

    .skills .skill-icon.sql {
        top: 5px;
        left: -3px;
    }

    .skills .skill-icon.php {
        top: -20px;
        left: 20px;
    }

    .skills .skill-icon.java {
        top: -5px;
        right: 5px;
    }

    .skills .skill-icon.bitbucket {
        bottom: 70px;
        right: -30px;
    }

    .skills .skill-icon.android {
        bottom: 40px;
        right: -20px;
    }
}


@media screen and (max-width: 500px) {
    
    .skills {
        top: 70px;
    }

    .skills img.background {
        width: 170px;
    }

    .skills .skill-icon {
        width: 18px;
    }

    /* Specifications for each icon positioning */
    .skills .skill-icon.docker {
        top: 115px;
        left: -15px;
    }

    .skills .skill-icon.css {
        top: 85px;
        left: -25px;
    }

    .skills .skill-icon.git {
        top: 55px;
        left: -25px;
    }

    .skills .skill-icon.html {
        top: 30px;
        left: -15px;
    }

    .skills .skill-icon.sql {
        top: 5px;
        left: 0px;
    }

    .skills .skill-icon.php {
        top: -10px;
        left: 20px;
    }

    .skills .skill-icon.java {
        top: -10px;
        right: 20px;
    }

    .skills .skill-icon.bitbucket {
        bottom: 55px;
        right: -20px;
    }

    .skills .skill-icon.android {
        bottom: 30px;
        right: -10px;
    }
}

@media screen and (max-width: 320px) {
 
    .skills {
        top: 50px;
    }

    .skills img.background {
        width: 150px;
    }

    .skills .skill-icon {
        width: 16px;
    }

    /* Specifications for each icon positioning */
    .skills .skill-icon.docker {
        top: 110px;
        left: -13px;
    }

    .skills .skill-icon.css {
        top: 85px;
        left: -20px;
    }

    .skills .skill-icon.git {
        top: 55px;
        left: -25px;
    }

    .skills .skill-icon.html {
        top: 30px;
        left: -15px;
    }

    .skills .skill-icon.sql {
        top: 5px;
        left: 0px;
    }

    .skills .skill-icon.php {
        top: -10px;
        left: 20px;
    }

    .skills .skill-icon.java {
        top: -5px;
        right: 15px;
    }

    .skills .skill-icon.bitbucket {
        bottom: 35px;
        right: -15px;
    }

    .skills .skill-icon.android {
        bottom: 15px;
        right: 0;
    }
}