<div class="skills">
    <img loading="lazy" class="background" src="https://assets.guilhermeborgesbastos.com/live-resume/template/welcome/illustration-back.png" alt="Background"/>
    <img loading="lazy" class="skill-icon docker" src="https://assets.guilhermeborgesbastos.com/live-resume/template/welcome/icons/docker.svg" alt="Docker"/>
    <img loading="lazy" class="skill-icon css" src="https://assets.guilhermeborgesbastos.com/live-resume/template/welcome/icons/css3.svg" alt="CSS3"/>
    <img loading="lazy" class="skill-icon git" src="https://assets.guilhermeborgesbastos.com/live-resume/template/welcome/icons/git.svg" alt="Git"/>
    <img loading="lazy" class="skill-icon html" src="https://assets.guilhermeborgesbastos.com/live-resume/template/welcome/icons/html5.svg" alt="HTML5"/>
    <img loading="lazy" class="skill-icon sql" src="https://assets.guilhermeborgesbastos.com/live-resume/template/welcome/icons/sql.svg" alt="SQL"/>
    <img loading="lazy" class="skill-icon php" src="https://assets.guilhermeborgesbastos.com/live-resume/template/welcome/icons/php.svg" alt="PHP"/>
    <img loading="lazy" class="skill-icon java" src="https://assets.guilhermeborgesbastos.com/live-resume/template/welcome/icons/java.svg" alt="JAVA"/>
    <img loading="lazy" class="skill-icon bitbucket" src="https://assets.guilhermeborgesbastos.com/live-resume/template/welcome/icons/bitbucket.svg" alt="BitBucket"/>
    <img loading="lazy" class="skill-icon android" src="https://assets.guilhermeborgesbastos.com/live-resume/template/welcome/icons/android.svg" alt="Android"/>
</div>