.skills {
    position: absolute;
    top: 150px;
    left: 5px;
	z-index: 0;
	
	img.background {
		width: 535px;
	}

	.skill-icon {
		position: absolute;
		width: 50px;

		// Define the animations for the icons
		animation-name: floating-icons;
		-webkit-animation-name: floating-icons;
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		-webkit-animation-timing-function: ease-in-out;
		animation-duration: 4s;

		// Odd icons have different animation frame.
		&:nth-child(2n+3) {
			animation-duration: 5s;
		}

		// Specifications for each icon positioning
		&.docker {
			top: 385px;
			left: -35px;
		}

		&.css {
			top: 300px;
			left: -65px;
		}

		&.git {
			top: 205px;
			left: -85px;
		}

		&.html {
			top: 120px;
			left: -65px;
		}

		&.sql {
			top: 40px;
			left: -20px;
		}

		&.php {
			top: -20px;
			left: 50px;
		}

		&.java {
			top: -20px;
			right: 50px;
		}

		&.bitbucket {
			bottom: 110px;
			right: -30px;
		}

		&.android {
			bottom: 40px;
			right: 10px;
		}
	}
}

@keyframes floating-icons {
	0% { ransform: translate(0%, 0%); }
	25% { ransform: translate(5%, 15%); }	
	50% { ransform: translate(10%, 5%); }	
	75% { ransform: translate(0%, 15%); }	
	100% { ransform: translate(0%, 0%); }			
}

@-webkit-keyframes floating-icons {
	0% { webkit-transform: translate(0%, 0%); }
	25% { webkit-transform: translate(5%, 15%); }	
	50% { webkit-transform: translate(10%, 5%); }	
	75% { webkit-transform: translate(0%, 15%); }	
	100% { webkit-transform: translate(0%, 0%); }			
}