<div class="skills">
    <img loading="lazy" class="background" src="./assets/template/welcome/illustration-back.png" alt="Background"/>
    <img loading="lazy" class="skill-icon docker" src="./assets/template/welcome/icons/docker.svg" alt="Docker"/>
    <img loading="lazy" class="skill-icon css" src="./assets/template/welcome/icons/css3.svg" alt="CSS3"/>
    <img loading="lazy" class="skill-icon git" src="./assets/template/welcome/icons/git.svg" alt="Git"/>
    <img loading="lazy" class="skill-icon html" src="./assets/template/welcome/icons/html5.svg" alt="HTML5"/>
    <img loading="lazy" class="skill-icon sql" src="./assets/template/welcome/icons/sql.svg" alt="SQL"/>
    <img loading="lazy" class="skill-icon php" src="./assets/template/welcome/icons/php.svg" alt="PHP"/>
    <img loading="lazy" class="skill-icon java" src="./assets/template/welcome/icons/java.svg" alt="JAVA"/>
    <img loading="lazy" class="skill-icon bitbucket" src="./assets/template/welcome/icons/bitbucket.svg" alt="BitBucket"/>
    <img loading="lazy" class="skill-icon android" src="./assets/template/welcome/icons/android.svg" alt="Android"/>
</div>