@media screen and (max-width: 1024px) {

    .skills {
        top: 140px;

        img.background {
            width: 390px;
        }

        .skill-icon {
            width: 40px;

            // Specifications for each icon positioning.
            &.first {
                top: 310px;
                left: -15px;
            }

            &.second {
                top: 250px;
                left: -50px;
            }

            &.third {
                top: 175px;
                left: -60px;
            }

            &.fourth {
                top: 100px;
                left: -45px;
            }

            &.fifth {
                top: 30px;
                left: -10px;
            }

            &.sixth {
                top: -20px;
                left: 50px;
            }

            &.seventh {
                top: -20px;
                right: 40px;
            }

            &.eighth {
                bottom: 80px;
                right: -40px;
            }

            &.ninth {
                bottom: 30px;
                right: 0;
            }
        }
    }
}

@media screen and (max-width: 880px) {

    .skills {

        img.background {
            width: 300px;
        }

        .skill-icon {
            width: 35px;

            // Specifications for each icon positioning.
            &.first {
                top: 220px;
                left: -25px;
            }

            &.second {
                top: 170px;
                left: -45px;
            }

            &.third {
                top: 115px;
                left: -50px;
            }

            &.fourth {
                top: 60px;
                left: -35px;
            }

            &.fifth {
                top: 10px;
                left: 0;
            }

            &.sixth {
                top: -30px;
                left: 40px;
            }

            &.seventh {
                top: -30px;
                right: 15px;
            }

            &.eighth {
                bottom: 85px;
                right: -40px;
            }

            &.ninth {
                bottom: 45px;
                right: -15px;
            }
        }
    }
}

@media screen and (max-width: 720px) {

    .skills {

        img.background {
            width: 230px;
        }

        .skill-icon {
            width: 27px;

            // Specifications for each icon positioning.
            &.first {
                top: 165px;
                left: -20px;
            }

            &.second {
                top: 130px;
                left: -35px;
            }

            &.third {
                top: 90px;
                left: -35px;
            }

            &.fourth {
                top: 50px;
                left: -30px;
            }

            &.fifth {
                top: 10px;
                left: -5px;
            }

            &.sixth {
                top: -20px;
                left: 20px;
            }

            &.seventh {
                top: 0;
                right: 0;
            }

            &.eighth {
                bottom: 85px;
                right: -35px;
            }

            &.ninth {
                bottom: 50px;
                right: -25px;
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .skills {
        top: 100px;

        img.background {
            width: 180px;
        }

        .skill-icon {
            width: 22px;

            // Specifications for each icon positioning.
            &.first {
                top: 135px;
                left: -15px;
            }

            &.second {
                top: 105px;
                left: -25px;
            }

            &.third {
                top: 70px;
                left: -30px;
            }

            &.fourth {
                top: 35px;
                left: -20px;
            }

            &.fifth {
                top: 5px;
                left: -3px;
            }

            &.sixth {
                top: -20px;
                left: 20px;
            }

            &.seventh {
                top: -5px;
                right: 5px;
            }

            &.eighth {
                bottom: 70px;
                right: -30px;
            }

            &.ninth {
                bottom: 40px;
                right: -20px;
            }
        }
    }
}

@media screen and (max-width: 500px) {

    .skills {
        top: 70px;

        img.background {
            width: 170px;
        }

        .skill-icon {
            width: 18px;

            // Specifications for each icon positioning.
            &.first {
                top: 115px;
                left: -15px;
            }

            &.second {
                top: 85px;
                left: -25px;
            }

            &.third {
                top: 55px;
                left: -25px;
            }

            &.fourth {
                top: 30px;
                left: -15px;
            }

            &.fifth {
                top: 5px;
                left: 0;
            }

            &.sixth {
                top: -10px;
                left: 20px;
            }

            &.seventh {
                top: -10px;
                right: 20px;
            }

            &.eighth {
                bottom: 55px;
                right: -20px;
            }

            &.ninth {
                bottom: 30px;
                right: -10px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
 
    .skills {
        top: 50px;

        img.background {
            width: 150px;
        }

        .skill-icon {
            width: 16px;

            // Specifications for each icon positioning.
            &.first {
                top: 110px;
                left: -13px;
            }
        
            &.second {
                top: 85px;
                left: -20px;
            }
        
            &.third {
                top: 55px;
                left: -25px;
            }
        
            &.fourth {
                top: 30px;
                left: -15px;
            }
        
            &.fifth {
                top: 5px;
                left: 0;
            }
        
            &.sixth {
                top: -10px;
                left: 20px;
            }
        
            &.seventh {
                top: -5px;
                right: 15px;
            }
        
            &.eighth {
                bottom: 35px;
                right: -15px;
            }
        
            &.ninth {
                bottom: 15px;
                right: 0;
            }
        }
    }
}