.skills {
    position: absolute;
    top: 150px;
    left: 5px;
	z-index: 0;
	
	img.background {
		width: 535px;
	}

	.skill-icon {
		position: absolute;
		width: 50px;

		// Define the animations for the icons
		animation-name: floating-icons;
		-webkit-animation-name: floating-icons;
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		-webkit-animation-timing-function: ease-in-out;
		animation-duration: 4s;

		// Odd icons have different animation frame.
		&:nth-child(2n+3) {
			animation-duration: 5s;
		}

		// Specifications for each icon positioning
		&.first {
			top: 385px;
			left: -35px;
		}

		&.second {
			top: 300px;
			left: -65px;
		}

		&.third {
			top: 205px;
			left: -85px;
		}

		&.fourth {
			top: 120px;
			left: -65px;
		}

		&.fifth {
			top: 40px;
			left: -20px;
		}

		&.sixth {
			top: -20px;
			left: 50px;
		}

		&.seventh {
			top: -20px;
			right: 50px;
		}

		&.eighth {
			bottom: 110px;
			right: -30px;
		}

		&.ninth {
			bottom: 40px;
			right: 10px;
		}
	}
}

@keyframes floating-icons {
	0% { transform: translate(0%, 0%); }
	25% { transform: translate(5%, 15%); }	
	50% { transform: translate(10%, 5%); }	
	75% { transform: translate(0%, 15%); }	
	100% { transform: translate(0%, 0%); }			
}